<div class="container">

    <div>
        <h1>FREQUENTLY ASKED QUESTIONS</h1>

        <h4>
            This guide contains some of the most frequently asked questions about Kaneadua. It is also the most detailed FAQ about Kaneadua that you can find in the English-speaking community. The aim of this guide is to answer frequently asked questions regarding
            Kaneadua, as much of what's available doesn't do a good job of this. We are hopeful, with the creation of this guide, it will be much easier for our users to find answers to many of these questions. All of the links within this guide direct
            the user to our Quality Guidelines, which contain even more in-depth information.

        </h4>
    </div>

    <div class="question">
        <div class="question1">
            <a>Why was Kaneadua made?</a>
            <div class="answer">
                <h4>Kaneadua was made to give game developers a marketplace where they get to control how their content is sold online. Kaneadua is an Internet-based digital distribution platform of games and programs for independent game creators and companies.</h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a>I'm a game developer / musician / comic artist / writer!</a>
            <div class="answer">
                <h4>Then kaneadua would love to welcome you to our platform, where you can upload both paid and free content, design a page for it, keep track of views, downloads and purchases, and run your own sales and bundles however you want.</h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a>If you are new to Kaneadua or just want to help a friend, this guide is for you.</a>
            <div class="answer">
                <h4>The Kaneadua Community can be a great place to discuss many topics, talk to developers and engage in meaningful conversation. However, in order for it to thrive successfully, we all need to be aware of our surroundings in this new community.
                    <br> Kaneadua Community Rules<br> The rules and guidelines for Kaneadua Community Discussions are a good starting point for what approach you should take when participating in Kaneadua Discussions.
                </h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a>Why buy on Kaneadua?</a>
            <div class="answer">
                <h4>• Most Kaneadua.com releases come with DRM-free builds along with extra keys, when the game is also available on Steam.<br> • Simply, there’s a lot of content on kaneadua.com you will find nowhere else!
                </h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a>How do I discover cool stuffs on Kaneadua?How do I discover cool stuffs on Kaneadua?</a>
            <div class="answer">
                <h4>Here’s a few tips to discover cool new content on kaneadua.com:<br> • Keep an eye on the front page – the projects featured there meet a certain level of quality and originality.<br> • Follow the people that interest you. Don’t have anyone
                    in mind? check out the global creator feed or simply keep an eye on the new releases<br> • If you have an account, browse through my recommendations, which are tailored to the content you've played or downloaded. Choicely, Click the
                    View related games button on any project page to find more of the same!
                </h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a>How can I keep up with my favorite creators?</a>
            <div class="answer">
                <h4>• You can follow any creator, and it'll appear in your personalized feed. There you'll find cool stuffs like updates, ratings, new projects, new uploads, etc.</h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a>I've lost my purchase confirmation e-mail! How do I get the link again?</a>
            <div class="answer">
                <h4>You can recover all purchases made with a given e-mail by filling the form on our support page.<br> Or else, you can access all your purchases by logging into your kaneadua account and navigating to My purchases or My collections.<br>                    Registering for kaneadua with an e-mail already used for purchase will automatically link all your previous purchases with your new account as soon as you verify the email address on the account.
                </h4>
            </div>
        </div>
        <br>
        <div class="question1">
            <a> Found a(n) Offensive / Copyright-infringing/ Broken page. What do I do?</a>
            <div class="answer">
                <h4>Click on the Report link. It will open a form that sends a message directly to the kaneadua.com team, which the team will take appropriate action.</h4>
            </div>
        </div>


    </div>


</div>
