.container {
    background: #0d565c;
    ;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

@mixin active {
    color: pink;
    border: 2px solid green;
}

a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #17d0d5;
}

img {
    height: 70px;
}

img:focus {
    text-decoration: none;
    border: none;
}

img:hover {
    cursor: pointer;
}
